html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

div.container {
  width: 80%;
  height: 100%;
  padding-top: 2%;
}

div.titleContainer {
  display: table;
  width: 100%;
  height: 5%;
  margin-bottom: 2%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

div.titleTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  float: left;
}

img.titleImage{
  width: 100%;
  height: 200%;
  object-fit: contain;
}

h2.title {
  font-weight: bold;
}

div.inputContainer {
  width: 50%;
  float: right;
}

div.inputInnerContainer{
  border-color: #00296b;
}

input:focus + label {
  color: #00296b;
}

i {
  font-size: 1.5vw;
}

span.iconFilterContainer{
  background-color: #4361ee;
}

i.iconFilter{
  color: #ffd500;
}

i.iconExp{
  color: #f18805;
}

table {
  width: 100%;
  height: 60%;
}

th.centerHead,
th.leftBorderHead,
th.rightBorderHead {
  color: white;
  background: #4361ee;
  border-bottom: 2px solid white;
  vertical-align: middle;
  width: fit-content;
}

th.leftBorderHead {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

th.centerHead {
  width: 50%;
}

th.rightBorderHead {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

th.numberColumn {
  vertical-align: middle;
  color: #00296b;
}

td {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  color: #00296b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: #003f88;
}

pagination-controls.pagination {
  background-color: #4361ee;
  border-radius: 1em;
  width: fit-content;
  padding-top: 1%;
  padding-right: 1%;
  color: white;
  font-weight: bold;
}

div.modalContainer{
  background-color: #e3e3e3;
}

button.closeModalButton{
  float: right;
}

div.topContainer {
  margin-left: 7%;
  margin-top: 3%;
  display: flex;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #4361ee;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: fit-content;
}

label.cardTitle {
  font-weight: bold;
  color: white;
  font-size: xx-large;
}

div.experienceContainer {
  display: flex;
  flex-direction: row;
}

div.upperContainerModal {
  width: 100%;
  height: 10%;
}

div.carousel {
  height: 20%;
  width: 90%;
  margin-left: 5%;
  background-color: #4361ee;
  background-size: cover;
  background-image: url('https://c4.wallpaperflare.com/wallpaper/957/704/964/pokemon-fields-ruby-1920x1200-nature-fields-hd-art-wallpaper-preview.jpg');
}

div.itemCarousel {
  width: 100%;
  height: 100%;
}

div.innerCarouselContainer {
  border-top: 5px;
  border-left: 5px;
  border-right: 5px;
  border-bottom: 5px;
  border-color: #4361ee;
  border-radius: 1em;
  overflow: hidden;
  border-style: solid;
  height: 350px;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

div.featuresContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  padding-top: 1%;
  margin-top: 2%;
  padding-bottom: 1%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

div.featureContainer{
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  border-radius: 1em;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  margin-top: 1%;
  border-color: #4361ee;
  background-color: white;
  border-style: solid;
  display: flex;
  width: 25%;
  flex-direction: row;
}

div.column1Feature{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
div.column2Feature{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

div.featureLabelContainer2{
  width: 100%;
}

label.featuresLabel {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #00296b;
  float: right;
}
label.featuresLabel1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #00296b;
  font-weight: bold;
  font-size: large;
  float: right;
}

div.imageProfileContainer {
  border-radius: 5em;
  height: 7vw;
  width: 7vw;
  background-color: white;
  border-width: 1;
  border-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  margin-left: 45%;
}

div.middleContainerModal {
  margin-bottom: 4%;
  width: 90%;
  height: 50%;
  margin-left: 5%;
}

div.abilitiesContainer {
  width: 100%;
  height: 20%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 1%;
  border-radius: 1em;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  margin-top: 1%;
  border-color: #003f88;
  background-color: white;
  border-style: solid;
  display: flex;
  flex-direction: row;
}

div.abilityNameContainer {
  padding-right: 1%;
  padding-left: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin-right: 1%;
  background-color: #4895ef;
  border-radius: 1em;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-color: #003f88;
  border-style: solid;
}

label.abilityTitleLabel {
  font-weight: bold;
  margin-left: 1%;
  margin-top: 1%;
  color: #00296b;
  font-size: large;
}

label.abilityLabel {
  color: white;
}

div.locationsContainer {
  padding: 1%;
  width: 100%;
  height: 30%;
  border-radius: 1em;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  margin-top: 1%;
  border-color: #003f88;
  background-color: white;
  border-style: solid;
}

div.locationsListContainer {
  width: 100%;
  height: 30%;
}

ul {
  max-height: 200px;
  height: 100%;
  overflow: auto;
}

div.locationNameContainer {
  padding-right: 1%;
  padding-left: 1%;
  margin-right: 1%;
  background-color: #003f88;
  border-radius: 1em;
  width: fit-content;
}

h1.tittleModal {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p,label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #00296b;
}